@model CrudEmpleados.Models.Empleado

@{
    ViewData["Title"] = "Datos del empleado";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h1 class="text-center">Datos del Empleado</h1>

<br />
<hr />
<div class="row">
    <div class="col-10 offset-1">
        <div class="card border">
            <div class="card-header bg-dark">
                <h3 class="text-white"><strong>Perfil de @Html.DisplayFor(m => m.Nombres)</strong></h3>
            </div>
            <div class="card-body">
                <ul class="list-group">
                    <! -- para motrar la imagen guardada en la seccion detalle -->
                    <li class="list-group-item text-center">

                        <img src="@Model.Foto" class="col-4 pt-3" width="100%" style="border-radius: 5px; border: 1px solid #bbb9b9;" />

                    </li>
                    <li class="list-group-item"><strong>Codigo del empleado: </strong>@Html.DisplayFor(m => m.Codigo)</li>
                    <li class="list-group-item"><strong>Nombre: </strong>@Html.DisplayFor(m => m.Nombres) @Html.DisplayFor(m => m.Apellidos)</li>
                    <li class="list-group-item"><strong>Direccón: </strong>@Html.DisplayFor(m => m.Direccion)</li>
                    <li class="list-group-item"><strong>Teléfono: </strong>@Html.DisplayFor(m => m.Telefono)</li>
                    <li class="list-group-item"><strong>Email: </strong>@Html.DisplayFor(m => m.Email)</li>
                    <li class="list-group-item"><strong>Fecha de nacimiento: </strong>@Html.DisplayFor(m => m.FechaNac)</li>
                    <li class="list-group-item"><strong>Lugar de Naciimiento: </strong>@Html.DisplayFor(m => m.LugarNac)</li>
                    <li class="list-group-item"><strong>Fecha de Contratación: </strong>@Html.DisplayFor(m => m.FechaContratacion)</li>
                    <li class="list-group-item"><strong>Puesto Laboral: </strong>@Html.DisplayFor(m => m.Puesto)</li>
                    <li class="list-group-item"><strong>Estado de contrato: </strong>@Html.DisplayFor(m => m.Estado)</li>
                </ul>
            </div>
        </div>
        <br />
        <div>
            <a asp-action="Index"><i class="bi bi-arrow-return-left"></i> Volver a lista</a>
        </div>
    </div>
</div>



